body{
    background-color:rgb(51, 102, 153);
    font-family: Courier New, Courier, monospace;
    padding-left: 20px;
}

.enunciado{
    font-weight: bold;
}

div{
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    padding: 10px;
    width: 300px;
    border: solid 1px darkblue;
    text-align: center;
}